@charset "UTF-8";

/*Versão Mobile First*/

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    box-sizing: border-box ;
}
html{
    height: 100vh;
}

body{
    background: black url(../imagens/back-phone.jpg) center center no-repeat ;
    background-size: cover;
    
}
main{
    background-color: rgba(255, 255, 255, 0.795);
    width: 400px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

h1{
    text-align: center;
    color: gray;
    text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.253);
    font-size: 1.5em;
}

#celular, #tablet, #print, #pc, #tv{
    display: none;
}
img{
    display: block;
    margin: auto;
}
img#celular{
    display: block;
}